<nav class="navbar navbar-expand-sm bg-warning">
  <div class="container-fluid">
    <!-- Links -->
    <ul class="navbar-nav">
      <span class="border border-danger span8">
      <li class="nav-item">
        <a class="nav-link" routerLink="car">Car</a>
      </li>
    </span>
    <span class="border border-danger span8">
      <li class="nav-item">
        <a class="nav-link" routerLink="booking"> Booking</a>
      </li>
       </span>
    </ul>
  </div>
  </nav>
  <!-- <div class="color"> -->
<div class="container">
  <router-outlet></router-outlet>
</div>